<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>395067245358-brrr8hsl2kv69auc63rcok7e1u7kmvve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395067245358-brrr8hsl2kv69auc63rcok7e1u7kmvve</string>
	<key>API_KEY</key>
	<string>AIzaSyCwt5GRW_sjl7u74-zCvNNoLoTBjTsNkrY</string>
	<key>GCM_SENDER_ID</key>
	<string>395067245358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edvmorango.NSDashboard</string>
	<key>PROJECT_ID</key>
	<string>nsdashboard-9d6fe</string>
	<key>STORAGE_BUCKET</key>
	<string>nsdashboard-9d6fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:395067245358:ios:ef47b413a592a5f6</string>
	<key>DATABASE_URL</key>
	<string>https://nsdashboard-9d6fe.firebaseio.com</string>
</dict>
</plist>